{% extends "base.html" %}
{% load static %}
{% block content  %}
<div class="container order-success">
    <h2>{% translate "Job Application Submitted Successfully!" %}</h2>
        <p>{% translate "Thank you for applying to our company. Your job application has been successfully submitted." %}</p>
        <p>{% translate "We will review your information and get in touch with you soon." %}</p>
    <div class="text-center mt-4">
        <a href="{% url 'home' %}"  style="color:white;">{% translate "Back to Home" %}</a>
    </div>
</div>

{% endblock content  %}


