{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container order-success">
    <h2>{% translate "Submission Successful!" %}</h2>
        <p>{% translate "Thank you for submitting your product for collaboration." %}</p>
        <p>{% translate "Our team of experts will carefully review your submission, and we'll get back to you within 24 hours." %}</p>
        <div class="text-center mt-4">
        <a href="{% url 'home' %}"  style="color:white;">{% translate "Back to Home" %}</a>
    </div>
</div>

{% endblock content %}



