{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="container-fluid  text-white pt-2" >

  <div class="toggle">
    <div class="toggle-container">
      <div class="toggle-icon" id="moon-icon">&#9790;</div>
      <label class="switch">
        <input type="checkbox" id="dark-mode-toggle">
        <span class="slider round"></span>
      </label>
      <div class="toggle-icon" id="sun-icon">&#9728;</div>
    </div>
  </div>




  <div class="row" id="row">
    <div class="col-md-6" >
      <div class="date-container">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAAXNSR0IArs4c6QAAAgRJREFUOE+11EuoTXEUx/HPlUfKDAPc5FnyijKUKBMJEWZCmHjkMSBJ3ZIoMfEYiEIGBmRAKCaUSCbkMfMIA4mQSIj/qv/WvtvZ5+yJXafT3v/1/661fuvR5T88XQ2ZgzEGn/EMP9rdawcdiS1YjFElSABv4Vz6fgo/qw7qoD3YjT54i4f5NwQTMQ398Bzz8bQMbgU9jI14ifW40iLVQdiX7T5gFh4XdlXoDuzHVSzHlw6az8m27zAjZ6UMHZvTCINJSc+PJWAU6gJupyLtqjjaikM4jVVxVoaewJqU9upcgPLd4XiTormMBRVo3xzMOERxXxXQ+I8IozBDU5F+VS62g4bpNhxMjA04VkBH4HVOcWkLHTtBQ65HhQQFdEpumZMJvrYNtHoUUoQkA/EVNzG7gI7Ok3I+tcayFtCiUNWjnbiD6N+Q7xrmFdD++JZ7bWrD0S2bRZ9GlEejd8vVv465eWJ6TUgDJ8dTd6zDQlwqQ1ekpXEGF5O+SxqACpPxOcP3eUd8L0Ojne5jehJ9Ow40AIfWoWmAI6iz1eaP99hG93KvxkLZi9818LCNcZ6QCnUEm+pmP77HFrqBYTmKGL8HuQ9jMCan85nYnJbKgFycAP51Xrf6urEnrbaVlVEuB/0ivcSKDKe9nk6bP/pvUdY5Nv+ntL2e5Ezu1knTCdqgVv+a/AHlImQWZ0CZVQAAAABJRU5ErkJggg=="/>
        <span class="current-date top-date">
          {% now "Y-m-d" %}
        </span>
        <div class="dropdown language">
          <button class="btn btn-outline-light dropdown-toggle ml-2" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% translate "Lan" %} 
          </button>
          <div class="dropdown-menu" aria-labelledby="languageDropdown">
            <a class="dropdown-item" href="{% url 'change_lang' %}?lang=en&next=/en/{{request.path|slice:'4:'}}"><img src="{% static 'assets/images/en.png' %}"  alt="English" class="flag-icon"> {% translate "Enlish" %}</a>
            <a class="dropdown-item" href="{% url 'change_lang' %}?lang=fa&next=/fa/{{request.path|slice:'4:'}}"><img src="{% static 'assets/images/pe.png' %}"  alt="Iran" class="flag-icon">{% translate "Persian" %}</a>
            <a class="dropdown-item" href="{% url 'change_lang' %}?lang=de&next=/de/{{request.path|slice:'4:'}}"><img src="{% static 'assets/images/de.png' %}"  alt="Germany" class="flag-icon"> {% translate "Deutch" %}</a>
            <a class="dropdown-item" href="{% url 'change_lang' %}?lang=ru&next=/ru/{{request.path|slice:'4:'}}"><img src="{% static 'assets/images/ru.png' %}"  alt="Russia" class="flag-icon"> {% translate "Russian" %}</a>
            <a class="dropdown-item" href="{% url 'change_lang' %}?lang=ar&next=/ar/{{request.path|slice:'4:'}}"><img src="{% static 'assets/images/ar.png' %}" alt="Oman" class="flag-icon"> {% translate "Arabic" %}</a>
            <a class="dropdown-item" href="{% url 'change_lang' %}?lang=tr&next=/tr/{{request.path|slice:'4:'}}"><img src="{% static 'assets/images/tr.png' %}"  alt="Turkey" class="flag-icon"> {% translate "Turkish" %}</a>

          </div>
        </div>
      </div>
    </div>
    
      
    <div class="col-md-6 text-right" >
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="text-white">{% translate "Sign Out" %}</a>
      {% else %}
        <a href="{% url 'login' %}" class="text-white">{% translate "Login" %}</a> |
        <a href="{% url 'signup' %}" class="text-white">{% translate "Sign Up" %}</a>
      {% endif %}
    </div>
  </div>
</div>
{% comment %} <div class="text-center mb-2" style="margin-top: -50px;">
  <a class="navbar-brand" href="#">
    <img src="{% static 'assets/images/logo-top.jpeg' %}" alt="Logo" height="150" width="190" style="border-radius:50%;">
  </a>
</div> {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-dark" >
    <a class="navbar-brand" href="#">BUSINESS 724</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  href="{% url 'home' %}">{% translate "Home" %} <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#category">{% translate "Categories" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">{% translate "Services" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'collaboration' %}">{% translate "Collaboration" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'investment' %}">{% translate "Investment" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about_us">{% translate "About Us" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#contact_us">{% translate "Contact" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'job_application_form' %}">{% translate "Apply for Job" %}</a>
        </li>
       

        
        
      </ul>
      {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}">
      {% else %}
        <a href="{% url 'login' %}">
      {% endif %}
        <img class="account" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAAXNSR0IArs4c6QAAAchJREFUOE+11E2ozkEUx/HPdRdWuFiQ97ebBZGyVVYWbEgpyYYiImQpucrKQhZYuEoklFI2JBuyQLIhSiQLSumKjQV56Wj+tzHm/zwP5Wye5z/zm+85c+ac0+c/WF+PzAEsxEe8wtdO5zpBZ2Av1mJ+BgngbVzCeXwrHbRBD+Aw+rvc5CVW40Wuq0GPYV+PaQnZe6zA8+ZMCd2D438BbKSvsRwjsZBDZydvYyvQC7iK6QjHCyqa09heQk9iZ0V8EEey9XF4jDmF9gem4V0TafxGbiZXoIvxtFg/hR0V7TYMN9Dw8LYll5GrR8XeGWyt6M9iSwONaJ60QE9gd7Y3MTVANERpd7CygcYjxQu22Tlcw8zUEHNbhDeibhtovPhnjPmHcsqPxGPvykvqJlYV0FuI699LDxlOl8QVU8eNL/RrcD2HbsTFTHQZm/C9JfpFuIvIcdibNCO+lB31MHVGiOLA+hRhjRs9H0FMSJsbcCX+l9BZeICpSfgBR3E/ldUULE2Ta3PmKebF/ua7NlAG02iL2u3FhlN7Rkf9srbRFz0+FIXcoSKiBA+lmfqb826TfxLWYRnm4ROeIaoi0jQaXU7tBu3l+n9ofgLWN04Wgtd8UwAAAABJRU5ErkJggg=="/>
      </a>
      

      <form class="form-inline my-2 my-lg-0" action="{% url 'search_view' %}" method="get">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder={% translate "Search" %} aria-label="Search" name="q">
        <button class="btn btn-dark my-2 my-sm-0 btn-outline-light" type="submit">{% translate "Search" %}</button>
    </form>
      
    </div>
  </nav>