{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container">
    <div class="sent" style="color:black;">
        <span class="sent-span">{% translate "Password Reset Sent" %}</span>
        <p >{% translate " If an account already exists with the email address you entered,we have emailed you instructions for setting your password.You should receive these soon. If you do not receive an email,please make sure you entered the address you registered with and check your spam folder. " %}</p>
    </div>
    
</div>

{% endblock content %}



