{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100 " style="margin-top:-100px;">
    <form class="form p-4 bg-light text-center reset_password" method="post" id="form">
        {% csrf_token %}
        <div class="mb-3">
            <input type="email" id="email" name="email" class="form-control" placeholder="{% translate "Enter your email" %}" required>
        </div>
        <button type="submit" class="btn btn-dark btn-outline-light">{% translate "Confirm" %}</button>
    </form>
</div>

{% endblock content %}



